body {
    background-color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: auto;
    padding: 20px;
}

a {
    color: white;
}

#email {
    margin: 20px 0;
}

#submit {
    width: 100px;
    margin: auto;
}

#submit input {
    width: 100px;
}

.guest-level {
    text-align: left;
    width: 75%;
    display: flex;
    cursor: pointer;
}

.guest-box {
    white-space: pre;
    width: 10px;
    min-height: 3px;
    height: 10px;
    padding: 3px 3px;
    background-color: darkgreen;
    display: inline-block;
    margin: 1px;
}

.guest-name {
    width: 0;
    height: 0;
    overflow: hidden;
}

.guest-level-expanded {
    text-align: left;
    display: flex;
    flex-direction: column;
    animation-duration: 2s;
    cursor: pointer;
}

.guest-expanded {
    display: flex;
}

.guest-name-expanded {
    padding-left: 5px;
}

.friday-time {
    padding-top: 20px;
    padding-bottom: 5px;
}

.friday-details {
    padding: 5px;
}

.btn {
    color: black;
}

.btn-rsvp {
    display: flex;
    justify-content: flex-end;
}

.toast.htmx-settling {
    opacity: 100;
}

.toast {
    opacity: 0;
    transition: opacity 3s ease-out;
    padding: 2px;
    flex-grow: 2;
    color: brown;
}

@media (max-width: 600px) {
    body {
        font-size: 1.5em;
        width: 90%;
    }

    #friday-table {
        width: 100%;
    }

    .btn-rsvp .btn {
        margin-top: 50px;
        width: 150px;
        font-size: 1.1em;
    }

    .btn-rsvp {
        display: flex;
        justify-content: center;
    }

    .guestLevel {
        width: 80%;
    }
}

@media (min-width: 601px) {
    body {
        font-size: 1.0em;
        width: 600px;
    }

    #friday-table {
        width: 50%;
    }
}
