body {
    background-color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: auto;
    padding: 20px;
}

a {
    color: white;
}

#email {
    margin: 20px 0;
}

#submit {
    width: 100px;
    margin: auto;
}

#submit input {
    width: 100px;
}

.guestLevel {
    text-align: left;
    width: 50%;
}

.guest {
    white-space: pre;
    min-width: 10px;
    min-height: 3px;
    height: 10px;
    padding: 3px 3px;
    background-color: darkgreen;
    display: inline-block;
    margin: 1px;
}

.friday-time {
    padding-top: 20px;
    padding-bottom: 5px;
}

.btn {
    color: black;
}

.btn-rsvp {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 600px) {
    body {
        font-size: 1.5em;
        width: 100%;
    }

    #friday-table {
        width: 100%;
    }

    .btn-rsvp .btn {
        margin-top: 50px;
        width: 150px;
        font-size: 1.1em;
    }

    .guestLevel {
        width: 80%;
    }
}

@media (min-width: 601px) {
    body {
        font-size: 1.0em;
        width: 600px;
    }

    #friday-table {
        width: 50%;
    }
}
