{{define "AdminFridayView"}}
<td class="friday-time">
    {{if .Active}}
    <input type="checkbox" id="{{.Date}}" name="activate" value="activate" checked>
    {{else}}
    <input type="checkbox" id="{{.Date}}" name="activate" value="activate">
    {{end}}
    <label for="{{.Date}}">{{.Date}}</label><br>
    <div class="guestLevel">{{range .Guests}}<span class="guest" title="{{.}}">&nbsp;</span>{{end}}<br>
    </div>
    <label for="group">Group</label><input name="group" value="{{.Group}}"><br>
    <label for="details">Details</label><input name="details" value="{{.Details}}"><br>
    <label for="maxGuests">Max Guests</label><input name="maxGuests" type="number" value="{{.MaxGuests}}">
    <div class="btn-rsvp">
        <span class="toast"></span>
        <button class="btn" hx-post="/admin/edit?date={{.ID}}&active={{.Active}}" hx-swap="outerHTML settle:3s"
            hx-target="previous .toast" hx-include="closest td">Update</button>
    </div>
</td>
{{end}}
