[Unit]
Description=RSVP Pizza
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
User=pizza
Group=pizza
Type=simple
Restart=always
RestartSec=1
EnvironmentFile=/etc/pizza/.env.prod
ExecStart=/usr/local/bin/rsvp.pizza run
StandardOutput=append:/var/log/homelab/pizza.zap.log
StandardError=append:/var/log/homelab/pizza.zap.log

[Install]
WantedBy=multi-user.target
