<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h2>RSVP For Pizza</h2>

    <p>Hi {{.Name}}</p>

    <form method="get" action="/submit">
        {{range .FridayTimes}}
        <input type="checkbox" id="{{.Date}}" name="date" value="{{.ID}}">
        <label for="{{.Date}}">{{.Date}}</label><br>
        <div class="guestLevel">{{range .Guests}}<span class="guest">&nbsp;</span>{{end}}<br></div>
        {{else}}
        <p>There are no upcoming pizza fridays.</p>
        {{end}}
        <label for="email">Email</label>
        <input type="text" id="email" name="email" />
        <br>
        <div id="submit">
            <input type="submit" value="Submit">
        </div>
    </form>

</body>

</html>