<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h2>RSVP For Pizza</h2>

    {{if .LoggedIn}}
    <p>Hi {{.Name}}</p>

    <form method="get" action="/submit">
        {{range .FridayTimes}}
        <input type="checkbox" id="{{.Date}}" name="date" value="{{.ID}}">
        <label for="{{.Date}}">{{.Date}}</label><br>
        <div class="guestLevel">{{range .Guests}}<span class="guest" title="{{.}}">&nbsp;</span>{{end}}<br></div>
        {{else}}
        <p>There are no upcoming pizza fridays.</p>
        {{end}}
        <br>
        <div id="submit">
            <input type="submit" value="Submit">
        </div>
    </form>

    <br><br>
    {{if .IsAdmin}}
    <a href="/admin">admin</a>
    {{end}}
    <a href="{{.LogoutURL}}">logout</a>

    {{else}}
    <a href="/login">login</a>
    {{end}}

</body>

</html>