<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h2>RSVP For Pizza</h2>

    {{if .LoggedIn}}
    <p>Hi {{.Name}}</p>

    <table id="friday-table">
        {{range .FridayTimes}}
        <tr>
            <td class="friday-time">
                <label for="{{.Date}}">{{.Date}}</label><br>
                <div class="guest-level" onclick="expandGuests(this);">
                    {{range .Guests}}
                    <div class="guest" title="{{.}}">
                        <span class="guest-box"></span>
                        <div class="guest-name">{{.}}</div>
                    </div>
                    {{end}}
                </div>
                <span class="friday-details"><i>{{.Details}}</i></span>
                <div class="btn-rsvp">
                    <button class="btn" hx-post="/rsvp?date={{.ID}}" hx-swap="outerHTML">RSVP</button>
                </div>
            </td>
        </tr>
        {{end}}
    </table>

    <br><br>
    <a href="/profile">profile</a>

    {{if .IsAdmin}}
    <a href="/admin">admin</a>
    {{end}}
    <a href="{{.LogoutURL}}">logout</a>

    {{else}}
    <a href="/login">login</a>
    {{end}}

</body>
<script src="/static/js/index.js"></script>

</html>
