<html>

<head>
    <link rel="stylesheet" href="/static/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h2>Pizza Wrapped</h2>

    {{if not .Name}}
    <form method="get" action="/wrapped">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" />
        <br>
        <div id="submit">
            <input type="submit" value="Submit">
        </div>
    </form>
    {{else}}
    <p>Hi {{.Name}}</p>
    <p>Of the {{.TotalFridays}} Pizza Fridays this year, you joined for {{len .Attendance}}!</p>

    {{range .Attendance}}
    <img width="32" src="/static/images/pizza.png" title="{{.}}" />
    {{end}}

    <p>Here's to even more pizza next year!</p>

    {{end}}
</body>

</html>